body {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  color: green;
}

table {
  display: flex;
  justify-content: space-around;
  border-spacing: 1px;
  tr {
    &:hover {
      background-color: #ccc;
    }
    td {
      width: 170px;
      border: 1px solid #000;
      text-align: center;
      padding: 10px 15px;
      &:first-child {
        text-align: left;
      }
  }
  }
}